.profile-pic{
  text-align: center;
}

.default-img {
  text-align: center;

  color: white;

  font-size: 24px;
  font-weight: bolder;
  background-color: black;
  border-radius: 100%;
  padding: 20px 0px;
  width: 80px;
  margin-bottom: 20px;

}
.user-profile-info {
  margin: 30px;
  text-align: center;

}

