.tags {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  margin: 0 -5px;
}

.description {
  text-align: left;
  margin: 10px 20px;
    p {
    margin-top: 0;
    padding: 9px 13px;
    margin: -7px -13px;
  }

}

ul li {
  margin-bottom: -10px;
  text-align: left;
}

i {
  color: black;
  padding: 10px 10px;
  &:hover {
    color: white;
    background-color: black;
  }
}

p {
  margin-top: 0;
  padding: 9px 24px;
  margin: -7px -13px;
}

input.servings {
  width: 34px;
  margin-left: 10px;
}


/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  .recipe-ingredients{
    text-align: left;
    margin: 10px 20px;
    margin-bottom: 45px;
  }

  .recipe-show-banner{
    margin: 10px 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .recipe-ingredients{
    text-align: left;
  }

  .recipe-base-container{
    margin-left: 10%;
    margin-right: 10%;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
