<h1>All Recipes:</h1>

<div class="container text-center filter-form">
  <form action="/recipes" method="get">
    <input id="field" type="text" name="category_type" placeholder="What kind of food?[sweet or savory]">
    <input type="submit">
  </form>
</div>


<div class="recipe-container">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-card-img-top">
        <%= cl_image_tag recipe.photo.key, width: 200, height: 250, crop: :fill %>
      </div>
      <div class="recipe-card-body">
        <%= link_to recipe.name, recipe_path(recipe) %>
      </div>
    </div>
  <% end %>

</div>
