<div class="base-container">
  <%= render 'shared/filterbar' %>
  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">
      <div class="recipe-count">
        <h4>
          Rezepte (<%= @publishedRecipes.count %>)
        </h4>
      </div>
    </div>
  </div>
  <%= render 'shared/index' %>
</div>

