<h1>Recipe Index</h1>

<p> All Recipes: </p>
<div class="recipe-container">
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <div class="recipe-card-img-top">
        <%= cl_image_tag recipe.photo.key %>
      </div>
      <div class="recipe-card-body">
        <%= link_to recipe.name, recipe_path(recipe) %>
      </div>
    </div>
  <% end %>

</div>
