  <div class="content-container">
    <%= render 'shared/filterbar' %>
    <div class="recipe-count">
    <h4>
      Süße Rezepte (<%= @publishedRecipes.count %>)
    </h4>
  </div>
    <%= render 'shared/index' %>
  </div>
