<%= link_to ('<p style="margin-bottom: 0;padding-left: 15px; color: #ABAAAA; text-decoration: none; padding-bottom: 8px; ">Löschen</p>').html_safe, recipe_ingredient_path(@recipe, ingredient),
method: :delete,
data: { confirm: "Bist du sicher?" } %>
