<!-- <div class="base-container"> -->
  <div class="d-flex justify-content-end align-items-center">
    <div class="d-flex justify-content-start ml-3>" style="flex-grow: 1">
      <div>
        <h4>
          Rezepte (<%= @recipes.count %>)
        </h4>
      </div>
    </div>
    <div class="btn-shadow" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Filtern
    </div>
    <%= link_to "+", new_recipe_path, class: "btn-shadow" %>
  </div>


  <div class="collapse" id="collapseExample">
    <div class="card card-body d-flex justify-content-center align-items-center flex-row">
      <div class="filter-category" style="font-size: 15px">
        <%= link_to "Süß", filterSweet_path %>
      </div>
      <div class="filter-category" style="font-size: 15px">
        <%= link_to "Herzhaft", filterSavory_path %>
      </div>
      <div class="filter-form">
        <div class="filter">
          <form action="/recipes" method="get">
            <input id="field" type="text" name="category_type" placeholder=" Suche nach Zutaten...">
            <input type="submit" class="search" value="&#xf002">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
