 <div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-8 col-sm-12 justify-content-md-center" style="background-color: white">
    <div class="progress">

      <div class="progress-track"></div>

      <div id="step1" class="progress-step is-complete">
        Rezept Details
      </div>

      <div id="step2" class="progress-step">
        Zutaten
      </div>

      <div id="step3" class="progress-step">
        Zubereitung
      </div>
    </div>
  </div>
</div>
