<div class="details-one">
  <div class="d-flex align-items-end">
    <div class="step-form-container flex-grow-1 ">
      <%= simple_form_for ([@recipe, @step]) do |f| %>
      <%= f.input :content, label: false %>

    </div>
    <div class="submit-button">
      <%= f.submit "+", class: "btn-shadow-small" %>
    </div>

  <% end %>
  </div>

</div>

