
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Banana Toast</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Pumpkin Soup</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=953&q=80" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Avocado Sandwich</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1562007908-3584997fcbaa?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Avocado Sandwich</h4>
        </div>
      </div>
    </div>
  </div>
</div><!--
<p>This is a private Recipe Collection - please login to see all recipes...</p>


<div class="container-fluid">
  <h1 class="text-center mb-3">Lates Recipes</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item col-md-3 active">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80" alt="Banana Toast">
          <div class="card-body">
            <h4 class="card-title">Banana Toast</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80" alt="Pumpking Soup">
          <div class="card-body">
            <h4 class="card-title">Pumpkin Soup</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=953&q=80" alt="Avocado Sandwich">
          <div class="card-body">
            <h4 class="card-title">Avocado Sandwich</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1562007908-3584997fcbaa?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="Apple Cake">
          <div class="card-body">
            <h4 class="card-title">Apple Cake</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1546549032-9571cd6b27df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Pasta Cabonara">
          <div class="card-body">
            <h4 class="card-title">Pasta Cabonara</h4>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
     ´ Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-multi" data-slide-to="1"></li>
      <li data-target="#carousel-example-multi" data-slide-to="2"></li>
      <li data-target="#carousel-example-multi" data-slide-to="3"></li>
      <li data-target="#carousel-example-multi" data-slide-to="4"></li>
      <li data-target="#carousel-example-multi" data-slide-to="5"></li>
    </ol> -->
  <!--/.Indicators-->
