.btn-shadow {
  padding: 15px 25px;
  margin: 20px 0;
  border: 0.1px solid black;
  background-color: white;
  box-shadow: 6px 6px 0 0.5px black;
  font-weight:bold;
  transition: background 0.5s ease;
  color: black;
}
.btn-shadow:hover {
  padding: 15px 25px;
  background-color: black;
  font-weight:bold;
  color: white;
  text-decoration: none;
  box-shadow: 6px 6px 0 0.5px #F4F4F4;
}

.btn-shadow-small {
  border: 0.1px solid black;
  background-color: white;
  box-shadow: 6px 6px 0 0.5px black;
  transition: background 0.5s ease;
  font-weight:bold;
  color: black;
}
.btn-shadow-small:hover {
  background-color: black;
  font-weight:bold;
  color: white;
  text-decoration: none;
  box-shadow: 6px 6px 0 0.5px #F4F4F4;
}



.btn-category {
  border: 0.1px solid white;
  padding: 1px 7px;
}


.btn-small {
  border: 0.1px solid black;
  background-color: black;
  transition: background 0.5s ease;
  font-weight:bold;
  color: white;
  margin-right: 10px;
}


.btn-small:hover {
  border: 0.1px solid black;
  background-color: white;
  transition: background 0.5s ease;
  font-weight:bold;
  color: black;
  margin-right: 10px;
}

