.base-container {
  margin: 20px 20px;
}

.content-container {
  text-align: center;
}

.recipe-card-container {
  text: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
}

.center-container {
  display: flex;
  justify-content: center;
}
/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  // .index-container {
  //   margin: 10px 10px;
  // }
  // .recipe-card-container {
  //   width: 100%;
  //   margin-left: 10%;
  // }
  .recipe-count{
    text-align:left;
    margin-left: 3%;
    margin-bottom: -18px;
  }
   #form-container {
    min-height: 350px;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
//   .index-container {
//     margin: 20px 40px;
//   }
// .recipe-card-container {
//   width: 100%;
//   margin-left: 10%;
// }
.recipe-count{
  margin-left: 1%;
  margin-bottom: 20px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  //  .index-container {
  //   margin: 20px 40px;
  // }
// .recipe-card-container {
//   margin-top: 30px;
//   width: 80%;
//   margin-left: 15%
//   // justify-content: center;
//   }

  #form-container {
    min-height: 400px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
