.base-container {
  margin: 20px 20px;
}

.content-container {
  text-align: center;
}

.recipe-card-container {
  text: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
}

.center-container {
  display: flex;
  justify-content: center;
}

.index-container{
  margin-bottom: 50px;
}
/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  .recipe-count{
    margin-top: 20px;
    margin-bottom: -18px;
  }
  #form-container {
    min-height: 350px;
  }

  .center-container {
    margin-left: 6%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .recipe-count{
    margin-top: 20px;
    margin-left: 1%;
    margin-bottom: 20px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #form-container {
    min-height: 400px;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
