/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  .ingredient-form-container {
    display: flex;
    align-items: flex-end;
  }
  input.btn-shadow-small {
    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ingredient-form-container {
    display: flex;
    align-items: flex-end;
  }
  input.btn-shadow-small {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form {
    display: flex;
  }
  input[type=text] {
    font-family: "Open Sans";
    width: fit-content;
  }
  .ingredient-form-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
