.nav-header {
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  position: absolute;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
  }
}

.avatar {
  width: 45px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
   margin-bottom: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-links {
  a {
    color: black;
    text-decoration: none;
    margin: 10px;
  }
  a:hover {
    color: black;
    font-weight: bolder;
    background-color:white;
    text-decoration: none;
  }

}


/* Extra extra small devices (phones, 360px and down) */
@media only screen and (max-width: 350px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  .avatar {
    margin-bottom: 18px;
    margin-left: 10px;
  }
  .navbar-lewagon {
    background: white;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .nav-header {
    left: 35%;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .avatar {
  width: 45px;
  border-radius: 50%;
  margin-bottom: 8px;

}
.navbar-lewagon {
  justify-content: end;
  background: white;
  display: flex;
  height: 70px;
  padding-left: 70px;
}
.nav-header {
  left: 45%;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

