.progress {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 70px;
  padding-top: 20px;
  background-color:white;
}

.progress-track {
  position: absolute;
  top: 27px;
  width: 69%;
  height: 1.5px;
  background-color: black;
  z-index: 0;
}

// Each Step on the Progress Bar
.progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;

  // Hide the final step's progress bar
  &:last-child:after {
    display: none;
  }

  // Step's circle in default state
  &:before {
    content: "";
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background: white;
    border: 1.5px solid black;
    // border-radius: 100%;
  }

  // Step's progress bar in default state
  &:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    width: 0%;
    transition: width 1s ease-in;
    height: 5px;
    background: blue;
    z-index: -1;
  }

  // Step's active state
  &.is-active {
    color: black;

    &:before {
      border-radius: 100%;
      border: 3.5px solid black;
      // box-shadow: 2px 2px 0 0.3px black;

      // animation: pulse 2s infinite;
    }
  }

  // Step's complete state
  &.is-complete {
    color: black;

    // Step's circle in complete state
    &:before {
      // font-family: FontAwesome;
      font-size: 10px;
      color: black;
      background: black;
      border: 2px solid transparent;
    }

    // Step's progress bar in complete state
    &:after {
      background: blue;
      animation: nextStep 1s;
      animation-fill-mode: forwards;
    }
  }
// Pulse animation for Step's circle in active state
// @keyframes pulse {
//   0% { box-shadow: 0 0 0 0 rgba(33,131,221, 0.4); }
//   70% { box-shadow: 0 0 0 10px rgba(33,131,221, 0); }
//   100% { box-shadow: 0 0 0 0 rgba(33,131,221, 0); }
// }
// Progressing to next step animation for Step's progress bar
@keyframes nextStep {
  0% { width: 0%; }
  100% { width: 100%; }
}
}

























// .progressbar-container{
//   width: 100%;
//   padding-bottom: 70px;
//   // position: absolute;
//   // z-index: 1;
//   margin-bottom: 20px;
// }
// .progressbar li{
//   float: left;
//   width: 20%;
//   position: relative;
//   text-align: center;
// }


// .progressbar {
//   counter-reset: step;
// }
// .progressbar li:before{
//   content:counter(step);
//   counter-increment: step;
//   width: 30px;
//   height: 30px;
//   border: 2px solid #bebebe;
//   display: block;
//   margin: 0 auto 10px auto;
//   border-radius: 50%;
//   line-height: 27px;
//   background: white;
//   color: #bebebe;
//   text-align: center;
//   font-weight: bold;
// }

// .progressbar li:after{
//   content: '';
//   // position: absolute;
//   // z-index: -1;
//   width:100%;
//   height: 3px;
//   background: #979797;
//   top: 15px;
//   left: -50%;
// }

// .progressbar li:first-child:after{
// content: none;
// }

// .progressbar li.active + li:after{
//  background: #3aac5d;
// }
// .progressbar li.active + li:before{
// border-color: black;
// background: black;
// color: white
// }
