.recipe-card {
  margin: 20px;
}

.recipe-card-img-top {
  height: 250px;
  width: 200px;
  background-color: blue;
  }

.recipe-card-body {
  background-color: black;
  text-align: center;
  padding: 5px 0;
  a {
    color: white;
    text-decoration: none;
  }
}
