a.add-step-link {
  color:black;
}

a.add-step-link:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.step-card{
  width: 670px;

}


.step-id {
    /* position: absolute; */
    color: red;
    font-weight: bolder;
    z-index: 47;
}
